apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: "{{ include "common.fullname" . }}-ingress-route"
spec:
  entryPoints:
{{- if .Values.ingress.tls.enable }}
    - websecure
{{- else }}
    - web
{{- end }}
  routes:
    - kind: Rule
      match: Host(`{{ .Values.ingress.host }}`) && PathPrefix(`{{ .Values.ingress.path }}`)
      priority: {{ .Values.ingress.priority }}
      services:
        - name: {{ .Values.service.name }}
          port: 80
{{- if .Values.ingress.tls.enable }}
  tls:
    secretName: {{ include "common.fullname" . }}-tls-secret
{{- end }}